body{
    width: 98vh;
    background-image: url(Imagens/espaco.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

article{
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

